.highcharts-tooltip>span {
	background: rgba(255, 255, 255, 0.85);
	padding: 10px;
	width: 300px;
	font-size: 11px;
	margin-bottom: 11px;
	word-wrap: break-word !important;
	white-space: normal !important;
	text-align: justify;
}

h2.container-dtp {
    font-size: 18px !important;
}

h3.container-dtp {
    font-size: 14px !important;
}

h2.container-mob {
    font-size: 14px !important;
}

h3.container-mob {
    font-size: 12px !important;
}
